<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mutlu Yıllar!!!</title>
    <link href="~/Content/image-picker.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <audio hidden id="bells" controls loop>
        <source src="~/Music/jingle-bells-58.mp3" type="audio/mpeg" />
    </audio>

    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:darkred; font-size:large; font-weight:bold">
        <div class="container">
            <div class="navbar-header" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Yeni Yıl Kartları", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Anasayfa", "Index", "Home")</li>
                    <li>@Html.ActionLink("Kartlar", "Index", "Kartlar")</li>
                </ul>
                <button  style="float:right;margin-top:7px;" class="btn btn-danger music-butonu" onclick="musicPlay()" id="btnMusic"><i id="iconClass" class="fas fa-play"></i></button>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p style="text-align:center;font-size:24px;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">&copy; @DateTime.Now.Year - Mutlu Yıllar</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/music.js"></script>
    <script src="~/Scripts/jquery-3.5.1.js"></script>
    <script src="~/Scripts/image-picker.js"></script>
    <script>
        $(".image-picker").imagepicker();
    </script>

</body>
</html>
